
  <div text-center class="add-box">
    <ion-label>Enter the amount of {{item.wastename}}'s</ion-label>

    <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-input type="input" [value]="amountOfItem" (input)="changeAmount($event)"></ion-input>
          </ion-row>
          <ion-row text-center>
            <ion-col size=3></ion-col>
            <ion-input>
            <ion-icon color="success" class="buttons" (click)="add()" name="add-circle"></ion-icon>
            <ion-icon color="danger" class="buttons" (click)="minus()" name="remove-circle"></ion-icon>
          </ion-input>
          
         
          </ion-row>
        </ion-col>
        
          <ion-col  size="6">
            <ion-row class="option" >
                <ion-text>Recycled?</ion-text>
            </ion-row>
            <ion-row >
              <ion-col size=4></ion-col>
              <ion-checkbox  color="secondary" checked [(ngModel)]="wasRecycled"></ion-checkbox>
            </ion-row>
                
          </ion-col>
    </ion-row>

    <ion-button expand="full"  (click)="confirm()" >
      Add
    </ion-button>
  </div>