.add-box{
    
    padding: 1px;
   
    background: #ffffff;
    border-radius: 5px;
    border: 2px solid var(--ion-color-primary);
}
.summaryHead{
    text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1px;
  padding-bottom: 1px;
  color:black
}