<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" (onclick)="presentLoadingWithOptions()">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
    <ion-title>View Your Log  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
 
    <ng-container matColumnDef="wastename">
      <th mat-header-cell *matHeaderCellDef>Waste</th>
      <td mat-cell *matCellDef="let log"> {{log.wastename}} </td>
    </ng-container>
 
    <ng-container matColumnDef="wastetype">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let log"> {{log.wastetype}} </td>
    </ng-container>
 
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let log"> {{log.logdate.getDay()}}/{{log.logdate.getMonth()}}/{{log.logdate.getFullYear()}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let log"> <ion-button expand="block"size="small">test</ion-button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
  </table>
  
 
<mat-paginator [pageSizeOptions]="[2, 5, 8]" showFirstLastButtons></mat-paginator>

</ion-content>
