
<ion-header>
  <ion-toolbar color="primary">
    <img slot="start" class="headimg" src="../../../assets/imgs/PinClipart.com_garbage-bag-clipart_1656157.png">
    <ion-title > All Waste Logs  </ion-title>
    
      <ion-fab-button size="small" slot="end" (click)="loadWasteLogs()">
        <ion-icon  name="refresh"></ion-icon>
      </ion-fab-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="formattedDate" matSortDirection="desc">
    
    <ng-container matColumnDef="wastename">
      <th mat-header-cell *matHeaderCellDef>Waste</th>
      <td (click) = "openModal(log)" mat-cell *matCellDef="let log"> {{log.wastename}} </td>
    </ng-container>
 
    <ng-container matColumnDef="wastetype">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td (click) = "openModal(log)" mat-cell *matCellDef="let log"> {{log.wastetype}} </td>
    </ng-container>
 
    <ng-container matColumnDef="formattedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td (click) = "openModal(log)" mat-cell *matCellDef="let log"> {{log.formattedDate}} </td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Recycled?</th>
      <td (click) = "openModal(log)" mat-cell *matCellDef="let log"> 
        <div *ngIf="log.wasrecycled; then recycleBlock; else notRecBlock"></div>
        
        <ng-template #recycleBlock><img class="displayImg" src="../../../assets/imgs/download.png"></ng-template>
        <ng-template #notRecBlock><img class="displayImg" src="../../../assets/imgs/backWasteSym.png"></ng-template>
       
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
  </table>
  
 
<mat-paginator [pageSizeOptions]="[7, 10]" showFirstLastButtons></mat-paginator>

</ion-content>
