@import "../../../global.scss";

ion-content{
    --background: none;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/imgs/TreesBack.jpg");
}
ion-card{
    background-color: #ffffff;
}
.add-box{
    margin: 1em;
    padding: 1em;
    margin-top: 3vh;
    background: #ffffff;
    border-radius: 15px;
    border: 2px solid var(--ion-color-primary);
}
.summaryHead{
  
  align-items: center;
  background: var(--ion-color-primary);
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff
}
.plasticBox{
  color: #ffffff;
  background: #910101;
}
.paperBox{
  color: #ffffff;
  background: #0124bd;
}
.metalBox{
  color: #ffffff;
  background: #aaaaaa;
}
.glassBox{
  color: #ffffff;
  background: #1ec28b;
}
.otherBox{
  color: #ffffff;
  background: #252424;
}
//Boxs bellow
.plasticUnder{
  color: #ffffff;
  background: #4d0101;
}
.paperUnder{
  color: #ffffff;
  background: #001988;
}
.metalUnder{
  color: #ffffff;
  background: #757575;
}
.glassUnder{
  color: #ffffff;
  background: #14855f;
}
.otherUnder{
  color: #ffffff;
  background: #080000;
}
.ionCHead{
    color: white;
    background: var(--ion-color-primary);
}
.displayImg{
  height: 50px;
  width: 50px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  
}
