<ion-content >
  <ion-header class ="ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
      <img slot="start" class="headimg" src="../../../assets/imgs/PinClipart.com_garbage-bag-clipart_1656157.png">
      
      <ion-button size="medium" color="secondary" slot="end" routerLink="/Add-Manual" routerDirection="forward" >
        <ion-icon name="add" ></ion-icon>
        Add Waste
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
    <ion-card class="boxhead">
      <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row size="12" class="summaryHead">     
              <ion-card-subtitle color="#ffffff">Your Waste This Week</ion-card-subtitle>
          </ion-row>
          <ion-row class= "ion-no-margin">
             <ion-col class="plasticBox" size="2.4">
                  <ion-label>Plastic</ion-label>

             </ion-col> 
             <ion-col class="paperBox" size="2.4">Mixed Paper</ion-col> 
             <ion-col class="glassBox" size="2.4">Mixed Glass</ion-col> 
             <ion-col class="metalBox" size="2.4">Metals</ion-col> 
             <ion-col class="otherBox" size="2.4">Others</ion-col> 
          </ion-row>
          <ion-row class= "ion-no-margin">
            <ion-col class="plasticUnder" size="2.4">
                 <ion-label>{{wasteAmounts[0]}}</ion-label>
            </ion-col> 
            <ion-col class="paperUnder" size="2.4">{{wasteAmounts[1]}}</ion-col> 
            <ion-col class="glassUnder" size="2.4">{{wasteAmounts[2]}}</ion-col> 
            <ion-col class="metalUnder" size="2.4">{{wasteAmounts[3]}}</ion-col> 
            <ion-col class="otherUnder" size="2.4">{{wasteAmounts[4]}}</ion-col> 
         </ion-row>
          <ion-row class= "ion-no-margin">
            <ion-col class="plasticUnder" size="2.4">
                 <ion-label>{{wastePercentages[0]}}%</ion-label>
            </ion-col> 
            <ion-col class="paperUnder" size="2.4">{{wastePercentages[1]}}%</ion-col> 
            <ion-col class="glassUnder" size="2.4">{{wastePercentages[2]}}%</ion-col> 
            <ion-col class="metalUnder" size="2.4">{{wastePercentages[3]}}%</ion-col> 
            <ion-col class="otherUnder" size="2.4">{{wastePercentages[4]}}%</ion-col> 
         </ion-row>
         <ion-row>
          <ion-col size="12">
            <canvas #pieChart></canvas>
          </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
  <ion-card>
    <ion-card-header color="#ffffff" class = "ionCHead">  
      <ion-card-subtitle>Compared to the rest of the UK</ion-card-subtitle>
      
    </ion-card-header>
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row>
        <ion-col class="glassBox" size="{{ recycleSummarySize }}">Recyled</ion-col> 
        <ion-col class="otherBox" size="{{ nonRecycleSummarySize }}">Landfill</ion-col> 
      </ion-row>
      <ion-row class= "ion-no-margin">
        <ion-col class="glassBox" size="{{ recycleSummarySize }}">{{ totalPerRec }}%</ion-col> 
        <ion-col class="otherBox" size="{{ nonRecycleSummarySize }}">{{ totalnotRecycled }}%</ion-col> 
      </ion-row>
    </ion-grid>
        <ion-card-content>
      <ion-card-subtitle>Overall Amount recycled: </ion-card-subtitle>
      <ion-grid class="ion-no-margin ion-no-padding dataCol"> 
        
        <ion-row class="dataCol">
          <ion-col class="ion-text-center" size = "3">
            <span class="helper"></span>
            <img class="displayImg" src="../../../assets/imgs/recycling-symbol.png">
          </ion-col>
          <ion-col class="noTopMargPad" size = "9">
            
              <ion-row >
                <ion-col size = "1">
                  
                </ion-col> 
                <ion-col  size = "5.5">
                  <ion-card-subtitle>Your total:</ion-card-subtitle>
                    
                </ion-col> 
                <ion-col size = "5.5">
                  <ion-card-subtitle>UK Average:</ion-card-subtitle>
                    
                </ion-col> 
              </ion-row>     
              <ion-row >
                <ion-col text-align: center size = "1">
                  
                </ion-col> 
                <ion-col text-align: center size = "5">
                    {{totalPerRec}}%
                </ion-col> 
                <ion-col text-align: center size = "5">
                  51%
              </ion-col> 
              </ion-row>  

          </ion-col>  
        </ion-row>     
      </ion-grid>  
      </ion-card-content>
        
      
    </ion-card>


</ion-content>

