.add-box{
    margin: 1em;
    padding: 1em;
    margin-top: 10vh;
    background: #ffffff;
    border-radius: 15px;
    border: 2px solid var(--ion-color-primary);
}
ion-content{
--background: #ffffe6;
  
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}