.add-box{
    margin-top: 1em;
    padding: 1em;
    margin-top: 3vh;
    background: #ffffff;
    border-radius: 0px;
    border: 1px solid var(--ion-color-primary);
}
ion-content{
    --background: none;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/imgs/Lake.png");
}
.amountInput{
    max-width: 130px;
}
.wasteImg{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
  
}
