

  <ion-header class ="ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
      <img slot="start" class="headimg" src="../../../assets/imgs/PinClipart.com_garbage-bag-clipart_1656157.png">
      <ion-title>Recycling Locator</ion-title>
      <!-- <ion-button  (click) = "findPlace()">Find Recycle Points</ion-button> -->
      <ion-fab-button size="small" slot="end" (click)="findPlace()">
        <ion-icon  name="refresh"></ion-icon>
      </ion-fab-button>
 
    </ion-toolbar>
  </ion-header>
<ion-content>

  

  <div *ngIf= "internetConnected == true; else elseBlock" class = "box">
    <div #map id="map"></div>
  </div>
  <ng-template #elseBlock>
    <ion-item>
      No Internet Connection Detected
      
    </ion-item>
  </ng-template>

</ion-content>
